.wrap {
    width: 30%;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: calc(100% - 40px);
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #000000;
}

.searchButton {
    width: 40px;
    height: 35.5px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.cityList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: calc(100% - 6px);
    background-color: #f9f9f9;
    border: 1px solid #00B4CC;
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow-y: auto;
    max-height: 150px; 
}

.cityList li {
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.cityList li:hover {
    background-color: #ddd;
}